// Colors
$gray-100: #F3F3EF;
$gray-200: #E9E9E5;
$gray-300: #DFDFDB;
$gray-400: #C1C1BD;
$gray-500: #999995;
$gray-600: #494945;
$gray-700: #353531;
$gray-800: #212121;
$gray-900: #1A1A1A;
$black: #000000;
$white: #FFFFFF;
$red: #F02323;
$primary: #45844D;
$spotify-green: #1DB954;

$full-screen: 100vh;
$full-width: 100vw;

$full-width-percent: 100%;

$border-radius: 8px;
