@use '@/styles/variables' as *;

.link-with-icon {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: inherit;
  border-bottom-right-radius: $border-radius * 4;
  border-top-right-radius: $border-radius * 4;

  &:before {
    content: "";
    width: 2px;
    height: 100%;
    background-color: $primary;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }

  &--active {
    background-color: $white;

    &:before {
      opacity: 1;
    }
  }
}
